body {
 text-transform: uppercase;
 font-family: sans-serif;
}

.mainContainer {
  height: 80vw;
  width: 100vh;
  border: 1px solid red;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}



.hpage, .ePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.skull {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.staffBox {
  margin-bottom: 1rem;
}

/* Add the following styles */
.employeeSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}



.employeeList {
  margin: 9px;
  height: 80%;
}

.employeeList h3, .employeeList h5 {
  margin: 0.5rem;
  border: 1px solid green;
}

